* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: #272c35;
}

table {
    max-height: 50%;
    display: block;
    overflow: scroll;
    border-collapse: collapse;
    border-radius: 8px;
    /*background: linear-gradient(315deg, #232830, #2a2f39);*/
    background: transparent;
    box-shadow:  -12px -12px 35px #1f232a,
                    12px 12px 35px #2f3540;
    /*border: 2px solid #363d4a;*/
    position: relative;
}

th {
    font-weight: bold;
    font-size: 28px;
    padding: 15px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #013943;
    cursor: default;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

td {
    font-size: 18px;
    color: white;
    padding: 15px;
    text-align: center;
}

tr:hover td {
    background-color: #515f6c;
    cursor: default;
}

td:first-child {
    text-align: left;
}

td a {
    text-decoration: none;
    color: white;
}

tr:hover td a {
    color: #7affc9;
}

button {
    padding: 15px;
    font-size: 1.3em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(315deg, #232830, #2a2f39);
    color: white;
    box-shadow:  -12px -12px 35px #1f232a,
                    12px 12px 35px #2f3540;
}

button:active {
    color: white;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 40px;
}

.pagination p {
    color: white;
    font-size: 1.3em;
}
